<!DOCTYPE html>
<html>
<head>
  <a name="name"><title><%= @names %></title></a>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script type='text/javascript' src='js/cairo.js'></script>
  <script type='text/javascript' src='js/time.js'></script>
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="stylesheet" href="css/style.css">
</head>
<main class="main">
  <div class="menu-wrapper">
    <input type="checkbox" id="menu-toggle" hidden>

    <label class="menu-icon" for="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <div class="overlay"></div>
    <nav class="menu">
      <ul>
        <li><a href="#name"><p><%= @titles %></p></a></li>
        <li><a href="#youtube"><p><%= @youtubes %></p></a></li>
        <li><a href="#SPA"><p><%= @spas %></p></a></li>
        <li><a href="#GitHub"><p><%= @githubs %></p></a></li>
        <li><a href="#GitHubPage"><p><%= @githubpage %></p></a></li>
        <li><a href="#Gist"><p><%= @gists %></p></a></li>
        <li><a href="#copy"><p><%= @author %></p></a></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <div align="center">
      <div class="alert">
        <h1><p><%= @titles %></p></h1>
      </div>
      <div class="card">
        <h1><a name="youtube"><p>
          <a href="https://youtu.be/xRNDvD-qq1c?si=BKFNXwAC71uCUxp2"><%= @youtubes %></a>
        </p></a></h1>
        <iframe width="530" height="315" src="https://www.youtube.com/embed/xRNDvD-qq1c?si=JX203WUrlWu095gi"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="alert">
          <h3>
            <p><%= @dtcls %></p>
            <p><%= @dtcls_full %></p>
            <p><%= @neovims %></p>
            <p><%= @jetbrains %></p>
            <p><%= @reasons %></p>
            <p><%= @setting %></p>
            <p><%= @plugin %></p>
            <p><%= @ide %></p>
          </h3>
        </div>
      </div>
      <div class="card">
        <h3>
          <a name="SPA"><p><%= @spas_full %></p></a>
          <p><%= @spas_dev %></p>
          <p><%= @spas_js %></p>
          <p><%= @spas_cm %></p>
        </h3>
      </div>
      <div class="card">
        <h3><a name="GitHub"><p><a href="https://github.com/takkii"><%= @githubs %></a></p></a></h3>
        <p><img src="/img/GitHub.gif" alt="GitHub profile"></p>
        <div class="alert">
          <h3>
            <p><%= @githubs_pf %></p>
            <p><%= @githubs_op %></p>
            <p><%= @githubs_us %></p>
            <p><%= @githubs_me %></p>
          </h3>
        </div>
      </div>
      <div class="card">
        <h3><a name="GitHubPage"><p><a href="https://takkii.github.io/"><%= @githubpage %></a></p></a></h3>
        <p><img src="/img/GitHubIO.gif" alt="GitHub pages"></p>
        <div class="alert">
          <h3>
            <p><%= @githubps_pf %></p>
            <p><%= @githubps_bd %></p>
            <p><%= @githubps_sy %></p>
            <p><%= @githubps_old %></p>
          </h3>
        </div>
      </div>
      <div class="card">
        <h3><a name="Gist"><p><a href="https://gist.github.com/takkii"><%= @gists %></a></p></a></h3>
        <p><img src="/img/Gist.gif" alt="Gist pages"></p>
        <div class="alert">
          <h3>
            <p><%= @gists_p %></p>
            <p><%= @gists_op %></p>
            <p><%= @gists_sh %></p>
            <p><%= @gists_mix %></p>
          </h3>
        </div>
      </div>
      <center>
        <h4>
          <br/>
          <div class="font-color-blue">
            <%= @himekuri %>
          </div>
          <br/><br/>
          <div class="font-color-blue">
            <%= @zella %> /
            <%= @reiwa %>
          </div>
          <br/><br/>
          <div class="font-color-blue">
            <div id="RealtimeClockArea2"></div>
          </div>
          <br/>
        </h4>
      </center>
      <center>
        <h4>
          <div class="font-color">
            <%= @ruby %>
          </div>
        </h4>
      </center>
      <center>
        <h5>
          <p>
          <div class="font-color-blue">
            <%= @saya.mumei %>
          </div>
          </p>
        </h5>
      </center>
      <br>
      <center>
        <a href='https://www.ruby-lang.org/ja/'><img src='/img/ruby.gif'></a>
        <a href='http://www.sinatrarb.com/'><img src='/img/sinatra.gif'></a>
      </center>
      <script type="text/javascript">
          function searchWord(word) {
              if (!document.getElementsByTagName) return;
              if (!word) return;
              var arrayA = document.getElementsByTagName("div", "a", "p");
              for (i = 0; i < arrayA.length; i++) {
                  if (arrayA[i].innerHTML.match(word)) {
                      if (arrayA[i].scrollIntoView)
                          arrayA[i].scrollIntoView();
                      arrayA[i].focus();
                      return;
                  }
              }
              alert("見つかりませんでした。");
          }
      </script>
      <div align='right'>
        <div class="font-color-blue-bold"><h5> 単語があるかないか検索🔎 </h5></div>
        <form action="views/index.erb" lang="ja" onsubmit="searchWord(this.elements['word'].value);
          return false;">
          <input type="text" name="word" placeholder="検索する単語を入力">
          <input type="submit" value="検索">
        </form>
      </div>
      <center>
        <h5>
          <p>
          <div class="font-color">
            <%= @saya.slogan %>
            <%= @nyasocom_version %>
          </div>
          </p>
        </h5>
      </center>
      <div class="card">
        <a name="copy"><p id="cpr"><%= @copys %></p></a>
        <script src="js/copyright.js"></script>
      </div>
    </div>
  </div>
</main>
</html>